.Header-wrap {
  display: flex;
  background-color: aqua;
}

.Header-logo {
  margin-left: 5%;
  margin-right: auto;
  background-color: antiquewhite;
}

.Header-logo-text {
  text-decoration: none;
  color: black;
  font-style: italic;
}

.Header-about {
  background-color: bisque;
  margin-left: auto;
  margin-right: 2%;
}

.advice-memo {
  margin-left: auto;
  margin-right: auto;
}
